[access]
	inheritFrom = All-Projects
[project]
	description = Base plugins for Gradle projects and plugins developed by FIDATA
[access "refs/*"]
	owner = group user/Basil Peace (grv87)
[access "refs/for/refs/*"]
	read = group user/Basil Peace (grv87)
	push = group user/Basil Peace (grv87)
	label-Code-Review = -2..+2 group user/Basil Peace (grv87)
	label-Verified = -1..+1 group user/Basil Peace (grv87)
	rebase = group user/Basil Peace (grv87)
	removeReviewer = group user/Basil Peace (grv87)
	submit = group user/Basil Peace (grv87)
[access "refs/heads/*"]
	read = group user/Basil Peace (grv87)
	create = group user/Basil Peace (grv87)
	push = +force group user/Basil Peace (grv87)
	pushMerge = group user/Basil Peace (grv87)
[access "refs/tags/*"]
	push = group user/Basil Peace (grv87)
	push = +force group user/Basil Peace (grv87)
